.App {
  text-align: center;
}

/* @font-face {
  font-family: "PlaylistScript";
  src: local("PlaylistScript"),
    url("../assets/fonts/PlaylistScript.ttf") format("truetype");
  font-weight: bold;
} */

.font-face-gm {
  font-family: "GoldmanBold";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4); */

  /* background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  background: linear-gradient(to right, #ffa751, #ffe259); */

  /* background: #ffafbd;
  background: -webkit-linear-gradient(to right, #ffc3a0, #ffafbd);
  background: linear-gradient(to right, #ffc3a0, #ffafbd); */

  /* background: #fff;
  background: -webkit-linear-gradient(to right, #8e2de2, #fff);
  background: linear-gradient(to right, #8e2de2, #fff); */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
